:root {
    --white: #fafaff;
    --dark-blue: #30343f;
    --cream: #e4d9ff;
    --bgColor: var(--white);
    --fontColor: var(--dark-blue);
    --borderColor: #ccc;
    --linkColor: #0066cc;
    --buttonBgColor: #e4d9ff;
}

.light-theme {
    --bgColor: var(--white);
    --fontColor: var(--dark-blue);
    --borderColor: #ccc;
    --linkColor: #0066cc;
    --buttonBgColor: #e4d9ff;
}

.dark-theme {
    --bgColor: #30343f;
    --fontColor: #fafaff;
    --borderColor: #fafaff;
    --linkColor: #66ccff;
    --buttonBgColor: #505050;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--fontColor);
}

body {
    background-color: var(--bgColor);
    font-family: "Roboto", sans-serif;
}

header {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}

.main-container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.password-repeat-register {
    position: relative;
    width: 400px;
}

.password-repeat-register input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--borderColor);
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;
}

input {
    background-color: transparent;
    font-size: 1.1rem;
    width: 400px;
    padding: 6px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--borderColor);
}

button {
    border: 2px solid var(--borderColor);
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.1rem;
    padding: 8px 62px;
}

button:hover {
    color: #222;
    transition: 0.2s ease;
    background-color: var(--borderColor);
}

.account_login {
    text-align: center;
    margin-top: 20px;
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
